@keyframes slideDown {
  0% {
    transform: translateY(-100%); /* Start above the container */
    opacity: 0%;
  }
  35%,
  75% {
    transform: translateY(0); /* Set to normal position */
    opacity: 100%;
  }
  100% {
    transform: translateY(100%); /* End below the container */
    opacity: 0%;
  }
}
